$primary-color: #1b1c1d;
$secondary-color: rgb(174,12,9);
$main-color: rgb(25,36,62);
$main-color-light: rgb(245,245,245);
$main-color-dark: rgba(252, 246, 246, 0.644);
$font-size-base: 16px; // 1rem
$font-size-medium: 1.25rem; // 20px / 16px
$font-size-large: 1.5rem; // 24px / 16px
$padding-base: 0.625rem; // 10px / 16px